<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FriendSync</title>
</head>
<body>
  <h1>Sorry, we didn't recognize that account.</h1>
  <h3>Would you like to create a new FriendSync account?</h3>
  <form action="/sign-up" method="GET">
    <button type="submit">Sign up</button>
  </form>
</body>
</html>